.card-container {
    background-color: white;
    width: 450px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 5px 6px rgb(227, 227, 227);
    position: absolute;
}

.card-container:hover {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(48, 48, 48);
    color: rgb(35, 35, 35);
}

.card-container h1,p {
    margin: 0px;
}

.card-container h1 {
    font-size: 75px;
    font-weight: 400;
}

.card-container p {
    margin-bottom: 30px;
    margin-top: 3px;
}

